// Main Styles
@import url('https://fonts.googleapis.com/css?family=Passion+One');

$font-stack: courier;
$main-color: #7FEAE2;

#accordion-container {
	
	font-family: $font-stack;
	width: 70%;
	position: relative;
	left: 10%;

	.accordion-header {
		padding: 10px;
		background-color: $main-color;
		border: 1px solid #49AAD3;
		font-size: 1.5em;
		text-align: left;

		&:hover {
			cursor: pointer;

		}

		img {
			float: left;
			margin-right: 1.2em;
		}

	}

	.accordion-header h2:after {
		content: ' > ';
		position: absolute;
		left: 90%;
	}

	.accordion-header.active h2:after {
		content: ' > ';
		transform: rotateZ(90deg);
	}

	.accordion-content {
		display: none;
		background-color: #fff;
		padding: 10px;
		font-size: 1.5em;

		p:before {
			content: ' - ';
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.display {
		display: block;
	}
}